<header role="banner"  class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand">
            <a href="/" title="Retour à l’accueil">
            <img
                class="fr-header__logo fr-responsive-img"
                src="{{ '/assets/additional/images/Logo_Facettes_Paysages_sans-Txt.svg' }}" alt="Logo Facettes Paysages" style="max-width: 200px"/>
            </a>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__search fr-modal" id="header-search" data-fr-js-modal="true" data-fr-js-header-modal="true">
            <div class="fr-container fr-container-lg--fluid">
              <form id="header-search-main" method="get" action="/recherche" role="search" class="fr-search-bar">
                <label class="fr-label" for="search">
                    Recherche
                </label>
                <input class="fr-input" placeholder="Rechercher" type="search" id="search" name="q">
                <button class="fr-btn" title="Rechercher">
                    Rechercher
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation principale -->
  <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav" id="navigation-832" role="navigation" aria-label="Menu principal">
          <ul class="fr-nav__list">
              <li>
                  <a class="fr-nav__link" href="/" target="_self">Accueil</a>
              </li>
              {% for item in site.data.menu.nav %}
              {% assign target = site.pages | where:"path",item.target | first %}
              <li class="fr-nav__item {% if target and page.url contains target.url %}fr-nav__item--active{% endif %}">
                  <a class="fr-nav__link" href="{{ target.url }}" {% if target and page.url contains target.url %}aria-current="page"{% endif %}>{{ item.label }}</a>
              </li>
              {% endfor %}
          </ul>
      </nav>
    </div>
  </div>
</header>
